Nav {
    background-size: cover;
    color: white;
}

Nav h1 {
    color: white;
}

body {
    background-image: url("../images/bg_rymd.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #10132D !important;
}

.klimatlogga {
    width: 16vw;
    margin-left: 1vw;
}

.navbar-collapse {
    padding-right: 1vw !important;
}

.buttons { /* Knappar på Hem */
    width: 15vw;
    margin-top: 10vh;
    margin-right: 1.5vw;
    margin-left: 1.5vw;
}

.buttons:hover {
    -moz-box-shadow: 0 0 10px #ccc;
    -webkit-box-shadow: 0 0 10px #ccc;
    box-shadow: 0 0 10px #ccc;
    border-radius: 10%;
    background-color: rgba(204,204,204,0.5)
}

.smallbuttons {
    width: 2.8vw;
    margin-right: 0.5vw;
    margin-left: 0.5vw;
}

.smallbuttons:hover {
    -moz-box-shadow: 0 0 10px #ccc;
    -webkit-box-shadow: 0 0 10px #ccc;
    box-shadow: 0 0 10px #ccc;
    border-radius: 10%;
    background-color: rgba(204,204,204,0.5)
}

.btn-close {
    float: right;
    width: 2em;
}

.jumbotron {
    margin-left: 1.5vw;
    margin-right: 1.5vw;
    padding: 1vw !important;
    background-color: white !important;
    font-size: 1.1vw !important;
}

.jumbotron p {
    margin-right: 2vw;
}

.jumbotron h1 {
    font-size: 2vw !important;
}

h2 {
    font-size: 1.5vw !important;
    margin-left: 2vw;
    padding-top: 5vh;
    padding-bottom: 4vh;
}

.h2-co2 {
    font-size: 1.5vw !important;
    margin-left: 2vw;
    padding-top: 7vh;
    padding-bottom: 0vh;
}

h3 {
    font-size: 1.5vw !important;
    padding-bottom: 3vh;
}

.coltext {
    margin-top: 3vh;
    margin-left: 2vw;
}

.col_rull {
    margin-right: 2.5vw;
    margin-top: 7vh;
}

.arrowdown {
    width: 1.5vw;
    float: right;
}

.input {
    width: 12vw !important;
}

.jordgloben {
    margin-top: 4vh;
    width: 20vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.linkstyle {
    color: black !important;
}

.dropdown-item.active, .dropdown-item:active {
    background-color: white !important;
}

.linkstyle:hover {
    text-decoration: none;
}

.jumbotronpic {
    margin-left: 3vw;
    margin-top: 4vh;
    width: 33vw;
}

.jumbotronpic2 {
    margin-left: 3vw;
    margin-top: 2.5vh;
    margin-bottom: 6vh;
    width: 36vw;
}

.hoverknapp {
    width: 2vw;
    height: 2vw;
    margin-left: 1.5vw;
    opacity: 0.85;
}

.hoverknapp:hover {
    opacity: 1;
}

.alignleft {
    text-align: left !important;
}

.rowbottom {
    margin-bottom: 7vh;
}

.glac-text {
    margin-top: 2vh;
    margin-left: 25vw;
}

.co2-ikoner {
    width: 2.2vw;
    height: 2.2vw;
    margin-right: 1vw;
}

.ui.primary.button,.ui.primary.buttons .button{
    background-color:gray !important;
    color:#fff;
    text-shadow:none;
    background-image:none
}

#input1 {
    margin-left: 9vw !important;
}

.card-header {
    background-color: #edf8ff !important;
}