Nav {
    /* background-color: rgba(151, 65, 65, 0.5); */
    background-size: cover;
    color: white;
}

Nav h1 {
    color: white;
}

body {
    background-image: url("../images/bg_rymd.jpg");
    background-repeat: no-repeat;
    background-size: cover; /* Anpassar bildens upplösning efter skärmen */
    background-color: #10132D !important;
}

.klimatlogga { /* Klimatkollen logga överst till vänster */
    width: 14vw;
}

.btn-meny {
    width: 8.2vw !important;
    height: 2.5vw !important;
    font-size: 1vw !important;
    margin-left: 1vw;
}

#dropdown-basic-button {
    width: 7vw !important;
    height: 2.5vw !important;
    font-size: 1vw !important;
}

.buttons { /* Knappar på Hem */
    width: 15vw;
    margin-top: 12vh;
    margin-right: 1.5vw;
    margin-left: 1.5vw;
}

a:hover img {
    -moz-box-shadow: 0 0 10px #ccc;
    -webkit-box-shadow: 0 0 10px #ccc;
    box-shadow: 0 0 10px #ccc;
    border-radius: 10%;
    background-color: rgba(204,204,204,0.5)
}

.btn-close { /* Rund knapp med kryss för att återgå till startsidan*/
    float: right;
    width: 2em;
}

.jumbotron {
    margin-left: 1.5vw;
    margin-right: 1.5vw;
    padding: 1vw !important;
    background-color: white !important;
    font-size: 1.1vw !important;
}

.jumbotron p {
    margin-left: 2vw;
    margin-right: 2vw;
}

.jumbotron h2 {
    margin-left: 2vw;
}

.jordgloben {
    margin-top: 6vh;
    width: 20vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.linkstyle:hover {
    text-decoration: none;
    color: white;
}

.diagram_img {
    width: 40vw;
}