Nav {
    /* background-color: rgba(151, 65, 65, 0.5); */
    background-size: cover;
    color: white;
}

Nav h1 {
    color: white;
}

body {
    background-image: url("../images/bg_rymd.jpg") !important;
    background-size: cover; /* Anpassar bildens upplösning efter skärmen */
}

.buttons { /* Knappar på Hem */
    width: 15vw;
    margin-top: 12vh;
    margin-right: 1.5vw;
    margin-left: 1.5vw;
}

a:hover img {
    -moz-box-shadow: 0 0 10px #ccc;
    -webkit-box-shadow: 0 0 10px #ccc;
    box-shadow: 0 0 10px #ccc;
    border-radius: 10%;
    background-color: rgba(204,204,204,0.5)
}

.btn { /* Knappar i headern */
    margin-left: 1em;
}

.btn-close {
    float: right;
}

.jumbotron {
    margin-left: 1em;
    margin-right: 1em;
    padding: 1rem !important;

}

.jordgloben {
    margin-top: 6vh;
    width: 20vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.linkstyle:hover {
    text-decoration: none;
    color: white;
}